.embedded {
	display: none;
}

body {
	margin: 0px;
	font-family:arial;
	font-size:15px;
}
div {
	width: 800px;
	height: 600px;
	margin-left: -400px;
	left: 50%;
	position: absolute;
	border: 1px solid black;
}
